.contacts {
  @include container;
}

.contacts__address-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__invite {
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  color: #111;
}

@media (min-width: 768px) {
  .contacts__invite {
    width: 170px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-right: 20px;
    width: 160px;
  }
}


