.image-area {
  @include container;
  height: 304px;
}

.image-area__text {
  color: #fff;
  text-align: center;
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
}

.image-area__pic {
  display: block;
  width: 280px;
  height: 271px;
  margin: 0 auto;
  margin-top: -130px;
}

@media (min-width: 768px) {
  .image-area__text {
    width: 427px;
    margin: 0 auto;
    color: #111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
