.weight-program {
  width: $width;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $light-grey;
}

.weight-program__title {
  color: #111;
  font-family: $font;
  font-size: 24px;
  line-height: 24px;
}

.weight-program__text {
  line-height: 18px;
}

.weight-program__link {
  font-family: $font;
  font-size: 16px;
  line-height: 16px;
  color: #111;
  text-decoration: none;
}
