@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 708px;
    margin: 0 auto
  }

  @media (min-width: 1200px) {
    width: 940px;
    margin: 0 auto
  }
}
